body {
  margin: 0;
  font-family: Inter, sans-serif;
  height: 100vh;
  background-color: #282d35;
}

.nav {
  display: flex;
  align-items: center;
  background-color: #21222a;
  height: 30px;
  padding: 30px 25px;
  justify-content: space-between;
}
.nav-items {
  list-style: none;
  display: flex;
  flex-direction: row;
}
.nav-items > li {
  padding: 10px;
  cursor: pointer;
  color: white;
}

.nav-links {
  text-decoration: none;
  color: white;
}
.nav-links:hover {
  color: #ea2027;
  font-size: larger;
}

.nav-logo {
  width: 50px;
}
.nav > h1 {
  margin-right: auto;
  color: white;
  font-weight: 700;
  padding: 10px;
  font-size: 30px;
  text-shadow: 1.5px 1.5px red;
}
.main-section {
  background-image: url(./Logo.png);
  background-repeat: no-repeat;
  background-position-x: 120%;
  background-position-y: center;
  background-size: 400px 410px;
}

.main-title {
  padding: 57px 27px;
  margin: 0;
  font-size: 39px;
  letter-spacing: -0.01em;
  color: white;
}
.main-list {
  color: white;
  margin-top: 0px;
}
.main-list > li {
  line-height: 19px;
  padding-block: 10px;
}

.main-list > li::marker {
  font-size: 2rem;
  color: #ea2027;
}
.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #21222a;
  color: white;
  text-align: center;
}
.card {
  margin-top: 20px;
  margin-left: 7%;
  color: white;
  font-size: large;
}

.bold {
  font-weight: bold;
}

.card-image {
  height: 350px;
  border-radius: 12px;
}
.card-star {
  height: 25px;
}
.cards-list {
  display: flex;
  flex-wrap: nowrap;
  gap: 20px;
  overflow-x: auto;
}
.card-badge {
  margin-top: 10px;
}
.card-title {
  font-size: 16px;
}
.card-price {
  color: #3498db;
}
section {
  padding: 30px;
  margin-left: 30px;
}
.grid {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.photo-grid {
  height: 500px;
  align-self: center;
  border-radius: 12px;
}
.grid-header {
  font-size: 30px;
  font-weight: bold;
  color: white;
}
.grid-text {
  color: #3498db;
}
.meme-input {
  display: grid;
  grid-template: 40px 40px / 1fr 1fr;
  gap: 10px;
}
.form-main {
  padding: 36px;
}
.getimage-button {
  grid-column: 1 / -1;
  border-radius: 12px;
  border: none;
  font-size: 16px;
  background-color: #7f8c8d;
  color: white;
  font-weight: bolder;
}
.getimage-button:hover {
  cursor: pointer;
  background-color: #535c68;
}
.meme-input {
  border-radius: 12px;
  border: none;
  font-size: 16px;
}
.meme-text:focus {
  border: 2px solid #21222a;
  outline: none;
}
.meme-image {
  padding: 10px;
  max-width: 50%;
  border-radius: 20px;
}

.meme-text {
  position: absolute;
  width: 80%;
  text-align: center;
  left: 20%;
  transform: translateX(-50%);
  margin: 15px 0;
  padding: 0 5px;
  font-size: 50px;
  text-transform: uppercase;
  color: white;
  letter-spacing: 1px;
}

.bottom {
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-shadow: 3px 3px black;
}

.top {
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-shadow: 3px 3px black;
}
.meme-image-container {
  position: relative;
  text-align: center;
  color: white;
}
